:root {
  --color-accent: #22d3ee;
  --color-bg: #030303;
}
html {
  scroll-behavior: smooth;
  background: var(--color-bg);
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.02);
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
body {
  font-family: 'Inter', sans-serif;
  color: #f8fafc;
  overflow-x: hidden;
}
h1, h2, h3, .font-display {
  font-family: 'Outfit', sans-serif;
}
.font-mono {
  font-family: 'JetBrains Mono', monospace;
}
.perspective-1000 {
  perspective: 1000px;
}